$color-light-gray: #ddd;
$color-secondary: rgba(0,0,0,.55);

$comingsoon-img: "../img/error_bg.jpg";
$error-img: "../img/error_bg.jpg";
$about-s1-img: "../img/about/about-s1_bg.jpg";
$about-s3-img: "../img/about/about-s3_bg.jpg";
$index-s1-img: "../img/index/index-s1_bg.jpg";
$index-s2-img: "../img/index/index-s2_bg.jpg";
$index-s3-img: "../img/index/individual_bg.png";
$index-s4-img: "../img/index/commercial_bg.png";
$index-s5-img: "../img/index/index-s5_bg.jpg";
$privacy-img: "../img/error_bg.jpg";
$projects-s1-img: "../img/projects/projects-s1_bg.jpg";
$projects-s2-img: "../img/projects/projects-s2_bg.jpg";
$projects-s3-img: "../img/projects/projects-s3_bg.jpg";
$projects-s4-img: "../img/projects/projects-s4_bg.jpg";
$projects-s5-img: "../img/projects/projects-s2_bg.jpg";

$hover-underline__border--active: 3px solid $color-secondary;
$hover-underline__border--inactive: 3px solid transparent;

$text-shadow__gray: 1px 1px 1px #999;